  <div class="container text-center">
    <div class="logoContainer">
      <img src="public/images/Market_snap_logo.PNG" class="logo">
    </div>
    <!--drop down menu zip codes-->
    <br>
    <form action="/housing/:zip" method="GET">
      <div class="row">
        <div class="col-lg-10"> 
            <select class="form-control options" id="zip_code">
              <option >Choose a ZIP Code</option>
              {{#each availableZips}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
        </div>   
        <div class="col-lg-2 padding"> 
          <button type="submit" class="btn btn-block btn-dark">SUBMIT</button>
        </div> 
      </div>
    </form>
    <!--homes-->
    <hr class="new4">
    <h4 class="h4">SINGLE-FAMILY HOMES</h4>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 display-number">
        <h2 class="h2">{{houseSales}}</h2>
        <h3 class="h3">Number of sales</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 display-number">
        <h2 class="h2">{{medianHouse}}</h2>
        <h3 class="h3">Median sale price for January</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 display-number">
        <h2 class="h2">{{houseYear}}%</h2>
        <h3 class="h3">Year-over-year change</h3>
      </div>
    </div>
    <!--home charts-->
    <div class="row row-chart">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <canvas id="price_house" height="200"></canvas>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <canvas id="unit_house" height="200"></canvas>
      </div>
    </div>
    <!--condos-->
    <hr class="new4">
    <h4 class="h4">CONDOMINIUMS</h4>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 display-number">
        <h2 class="h2">{{condoSales}}</h2>
        <h3 class="h3">Number of sales</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 display-number">
        <h2 class="h2">{{medianCondo}}</h2>
        <h3 class="h3">Median sale price for January</h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 display-number">
        <h2 class="h2">{{condoYear}}%</h2>
        <h3 class="h3">Year-over-year change</h3>
      </div>
    </div>
    <!--home charts-->
    <div class="row row-chart">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <canvas id="price_condo" height="200"></canvas>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <canvas id="unit_condo" height="200"></canvas>
      </div>
    </div>
    <!--comments-->
    <hr class="new4">
    <h4 class="h4">COMMENTS</h4>
    <form action="/xxxxx/xxxxxx" method="POST">
      <div class="form-group">
        <textarea class="form-control" id="comment" rows="3" placeholder="Tell us what you love about the neighborhood."></textarea>
      </div>
      <div class="row">
        <div class="col-lg-10 form-group">
          <input type="email" class="form-control" id="email" placeholder="Email address (required)">
        </div>
          <div class="col-lg-2 padding">
            <button type="submit" class="btn btn-block btn-secondary">SUBMIT</button>
          </div>
      </div>    
    </form>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p id="pub-comment">OMG! I LOVE NORTHPARK! The restaurants are great and you can walk everywhere. There is a ton of stuff to do. Blah blah blah blah blah blah.<strong id="pub-email"> email@address</strong></p>
          <p id="pub-comment">{{xxxxxxx}}<strong id="pub-email"> {{xxxxxxx}}</strong></p>
        </div>  
      </div>
      <!--footer-->
    <footer>
        <p>This data was compiled by CoreLogic and is derived from official San Diego records and includes nearly all sales. It does not include new construction. The median price is the midpoint of home values, with half being above and half below.
        </p>
        <p> &copy; 2019 GROUP NAME: Corbin Felsheim, James Ravenscroft, Gregory Schmidt and Gina Washington</p>
      </footer>
  </div>
  

  <!--CHART.JS SCRIPT-->
  <script>
    var ctx = document.getElementById('price_house').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: ['2018 Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.',
          'Dec.', '2019 Jan.'
        ],
        datasets: [{
          backgroundColor: '#008000',
          data: {{houseChartMedData}}
        }]
      },
      // Configuration options go here
      options: {
        legend: {
          display: false,
        },
        title: {
          display: true,
          text: '            Median sale price (thousands)',
          fontFamily: 'Lato',
          fontSize: 18,
          fontColor: '#000000'
        },
        scales: {
          yAxes: [{
            ticks: {
              // Include a dollar sign in the ticks
              callback: function (value, index, values) {
                return '$' + value;
              },
              suggestedMin: 0,
              suggestedMax: 700
            }
          }]
        }
      }
    });

    var ctx = document.getElementById('unit_house').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: ['2018 Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.',
          'Dec.', '2019 Jan.'
        ],
        datasets: [{
          backgroundColor: '#008000',
          data: {{houseChartSalesData}}
        }]
      },
      // Configuration options go here
      options: {
        legend: {
          display: false,
        },
        title: {
          display: true,
          text: '          Number of sales',
          fontFamily: 'Lato',
          fontSize: 18,
          fontColor: '#000000'
        },
        scales: {
          yAxes: [{
            ticks: {
              suggestedMin: 0,
              suggestedMax: 2500
            }
          }]
        }
      }
    });

    var ctx = document.getElementById('price_condo').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: ['2018 Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.',
          'Dec.', '2019 Jan.'
        ],
        datasets: [{
          backgroundColor: '#008000',
          data: {{condoChartMedData}}
        }]
      },
      // Configuration options go here
      options: {
        legend: {
          display: false,
        },
        title: {
          display: true,
          text: '            Median sale price (thousands)',
          fontFamily: 'Lato',
          fontSize: 18,
          fontColor: '#000000'
        },
        scales: {
          yAxes: [{
            ticks: {
              // Include a dollar sign in the ticks
              callback: function (value, index, values) {
                return '$' + value;
              },
              suggestedMin: 0,
              suggestedMax: 700
            }
          }]
        }
      }
    });

    var ctx = document.getElementById('unit_condo').getContext('2d');
    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: ['2018 Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.',
          'Dec.', '2019 Jan.'
        ],
        datasets: [{
          backgroundColor: '#008000',
          data: {{condoChartSalesData}}
        }]
      },
      // Configuration options go here
      options: {
        legend: {
          display: false,
        },
        title: {
          display: true,
          text: '          Number of sales',
          fontFamily: 'Lato',
          fontSize: 18,
          fontColor: '#000000'
        },
        scales: {
          yAxes: [{
            ticks: {
              suggestedMin: 0,
              suggestedMax: 2500
            }
          }]
        }
      }
    });
  </script>