<div class="container text-center">
  <div class="logoContainer">
    <img src="/images/Market_snap_logo.png" class="logo">
  </div>
  <!--drop down menu zip codes-->
  <br>
  <div id="pickedZip">
    <div class="row">
      <div class="col-lg-10">
        <select class="form-control options" id="zip_code"
              onfocus='this.size=5;'
              onchange='this.size=1;'
              onblur='this.size=1;'
              this.blur();>
          <option>Choose a ZIP Code</option>
          {{#each availableZips}}
          <option id="zipOption" value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-lg-2 padding">
        <button id="zipSearch" class="btn btn-block btn-dark">SUBMIT</button>
      </div>
    </div>
  </div>
  <h4 class="h4">{{chosenArea}}</h4>
  <!--homes-->
  <hr class="new4">
  <h4 class="h4">SINGLE-FAMILY HOMES</h4>
  
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 display-number">
      <h2 class="h2">{{houseSales}}</h2>
      <h3 class="h3">Number of sales</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 display-number">
      <h2 class="h2">${{medianHouse}}</h2>
      <h3 class="h3">Median sale price for January</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 display-number">
      <h2 class="h2">{{houseYear}}%</h2>
      <h3 class="h3">Year-over-year change</h3>
    </div>
  </div>
  <!--home charts-->
  <div class="row row-chart">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <canvas id="price_house" height="200"></canvas>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <canvas id="unit_house" height="200"></canvas>
    </div>
  </div>
  <!--condos-->
  <hr class="new4">
  <h4 class="h4">CONDOMINIUMS</h4>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 display-number">
      <h2 class="h2">{{condoSales}}</h2>
      <h3 class="h3">Number of sales</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 display-number">
      <h2 class="h2">${{medianCondo}}</h2>
      <h3 class="h3">Median sale price for January</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 display-number">
      <h2 class="h2">{{condoYear}}%</h2>
      <h3 class="h3">Year-over-year change</h3>
    </div>
  </div>
  <!--home charts-->
  <div class="row row-chart">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <canvas id="price_condo" height="200"></canvas>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <canvas id="unit_condo" height="200"></canvas>
    </div>
  </div>
  <!--comments-->
  <hr class="new4">
  <h4 class="h4">COMMENTS</h4>
  <form>
    <div class="form-group">
      <textarea class="form-control" name="comment" id="comment" rows="3"
        placeholder="Tell us what you love about the neighborhood."></textarea>
    </div>
    <div class="row">
      <div class="col-lg-10 form-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email address (required)">
      </div>
      <div class="col-lg-2 padding">
        <button type="submit" id="commentButton" class="btn btn-block btn-secondary">SUBMIT</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      {{#each commentText}}
          <p id="pub-comment">{{this}}</p>
      {{/each}}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      {{#each emailName}}
      <strong id="pub-email"> {{this}}</strong></p>
      {{/each}}
    </div>
    </div>
  
  <!--footer-->
  <footer>
    <p>This data was compiled by CoreLogic and is derived from official San Diego records and includes nearly all sales.
      It does not include new construction. The median price is the midpoint of home values, with half being above and
      half below.
    </p>
    <p> &copy; 2019 Return Raiders, Corbin Felsheim, James Ravenscroft, Gregory Schmidt and Gina Washington</p>
  </footer>
</div>
</div>


<!--CHART.JS SCRIPT-->
<script>
  var pickedZip  = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);

  
  $("#zipSearch").on("click", function(){
  var pickedZip  = $("#zip_code").val();
  console.log(pickedZip)
  $.ajax({
    method: "GET",
    url: "/housing/" + pickedZip,
  success: function (data){
    window.location.href = window.location.origin + "/housing/" + pickedZip
  }
})
});



$("#commentButton").on("click", function(event){
  event.preventDefault();
  var availableZipsArray = [
  "Allied Gardens-92120",
    "Alpine-91901",
    "Bay Park-92110",
    "Bonita-91902",
    "Bonsall-92003",
    "Borrego Springs-92004",
    "Boulevard-91905",
    "Campo-91906",
    "Cardiff-by-the-Sea-92007",
    "Carlsbad-92008",
    "Carlsbad-92009",
    "Carlsbad-92010",
    "Carlsbad-92011",
    "Carmel Valley-92130",
    "Chula Vista-91910",
    "Chula Vista-91911",
    "Chula Vista-91913",
    "Chula Vista-91914",
    "Chula Vista-91915",
    "Clairemont-92117",
    "College Grove-92115",
    "Coronado-92118",
    "Del Mar-92014",
    "Descanso-91916",
    "Downtown-92101",
    "Dulzura-91917",
    "East San Diego-92102",
    "East San Diego-92105",
    "El Cajon-92019",
    "El Cajon-92020",
    "El Cajon-92021",
    "Encanto-92114",
    "Encinitas-92024",
    "Escondido-92025",
    "Escondido-92026",
    "Escondido-92027",
    "Escondido-92029",
    "Fallbrook-92028",
    "Hillcrest-92103",
    "Imperial Beach-91932",
    "Jacumba-91934",
    "Jamul-91935",
    "Julian-92036",
    "La Jolla-92037",
    "La Mesa-91941",
    "La Mesa-91942",
    "Lakeside-92040",
    "Lemon Grove-91945",
    "Linda Vista-92111",
    "Logan Heights-92113",
    "Mira Mesa-92126",
    "Mission Village-92123",
    "National City-91950",
    "Normal Heights-92116",
    "North Park-92104",
    "Ocean Beach-92107",
    "Oceanside-92054",
    "Oceanside-92056",
    "Oceanside-92057",
    "Oceanside-92058",
    "Pacific Beach-92109",
    "Palomar Mountain-92060",
    "Paradise Hills-92139",
    "Pauma Valley-92061",
    "Pine Valley-91962",
    "Point Loma-92106",
    "Potrero-91963",
    "Poway-92064",
    "Ramona-92065",
    "Ranch Bernardo-92127",
    "Ranch Bernardo-92128",
    "Ranch Penasquitos-92129",
    "Ranch Santa Fe-92067",
    "Ranch Santa Fe-92091",
    "Ranchita-92066",
    "San Carlos-92119",
    "San Diego-92108",
    "San Diego-92112",
    "San Marcos-92069",
    "San Marcos-92078",
    "San Ysidro-92173",
    "Santa Ysabel-92070",
    "Santee-92071",
    "Scripps Ranch-92131",
    "Solana Beach-92075",
    "Sorrento Valley-92121",
    "South San Diego-92154",
    "Spring Valley-91977",
    "Spring Valley-91978",
    "Tierrasanta-92124",
    "University City-92122",
    "Valley Center-92082",
    "Vista-92081",
    "Vista-92083",
    "Vista-92084",
    "Warner Springs-92086"
]
  var pickedZip  = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);
  pickedZip = unescape(pickedZip);
  
 
  for (i=0;i<availableZipsArray.length;i++){
    if (pickedZip == availableZipsArray[i]){
      var idPickedZip = i + 2
    }
  }

  console.log("picked zip " + pickedZip);
  var emailInput = $("#email").val();
  var commentInput = $("#comment").val();
  
  console.log("id of picked Zip " + idPickedZip)
  var newComment = {
    comment: commentInput,
    email: emailInput,
    HousingId: idPickedZip
  }
  
  console.log("to input the following comment " + newComment.comment)
  $.ajax({
    method: "POST",
    url: "/housing/" + pickedZip,
    data: newComment,
    success: function (data){
    window.location.href = window.location.href
  }
  })
})

  var ctx = document.getElementById('price_house').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
      labels: ['2018 Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.',
        'Dec.', '2019 Jan.'
      ],
      datasets: [{
        backgroundColor: '#008000',
        data: [{{ houseChartMedData }}]
    }]
  },
    // Configuration options go here
    options: {
      legend: {
        display: false,
      },
      title: {
        display: true,
        text: '            Median sale price',
        fontFamily: 'Lato',
        fontSize: 18,
        fontColor: '#000000'
      },
      scales: {
        yAxes: [{
          ticks: {
            // Include a dollar sign in the ticks
            callback: function (value, index, values) {
              return '$' + value;
            },
            suggestedMin: 0,
            suggestedMax: 700
          }
        }]
      }
    }
    });

  var ctx = document.getElementById('unit_house').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
      labels: ['2018 Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.',
        'Dec.', '2019 Jan.'
      ],
      datasets: [{
        backgroundColor: '#008000',
        data: [{{ houseChartSalesData }}]
    }]
  },
    // Configuration options go here
    options: {
      legend: {
        display: false,
      },
      title: {
        display: true,
        text: '          Number of sales',
        fontFamily: 'Lato',
        fontSize: 18,
        fontColor: '#000000'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMin: 0,
            suggestedMax: 40
          }
        }]
      }
    }
    });

  var ctx = document.getElementById('price_condo').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
      labels: ['2018 Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.',
        'Dec.', '2019 Jan.'
      ],
      datasets: [{
        backgroundColor: '#008000',
        data: [{{ condoChartMedData }}]
    }]
  },
    // Configuration options go here
    options: {
      legend: {
        display: false,
      },
      title: {
        display: true,
        text: '            Median sale price',
        fontFamily: 'Lato',
        fontSize: 18,
        fontColor: '#000000'
      },
      scales: {
        yAxes: [{
          ticks: {
            // Include a dollar sign in the ticks
            callback: function (value, index, values) {
              return '$' + value;
            },
            suggestedMin: 0,
            suggestedMax: 700
          }
        }]
      }
    }
    });

  var ctx = document.getElementById('unit_condo').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
      labels: ['2018 Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.',
        'Dec.', '2019 Jan.'
      ],
      datasets: [{
        backgroundColor: '#008000',
        data: [{{ condoChartSalesData }}]
    }]
  },
    // Configuration options go here
    options: {
      legend: {
        display: false,
      },
      title: {
        display: true,
        text: '          Number of sales',
        fontFamily: 'Lato',
        fontSize: 18,
        fontColor: '#000000'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMin: 0,
            suggestedMax: 40
          }
        }]
      }
    }
    });

    
</script>